body:has(a[href*="chefs.html"]):has(.chef) {
  .ulist__element a[href*="chefs.html"] {
    border-bottom: 1px solid rgba(var(--bs-link-color-rgb));
  }
}

.chef {
  @apply flex flex-col justify-center text-center w-11/12;

  h5 {
    @apply font-medium;
  }

  .flex-container {
    @apply flex flex-col flex-wrap justify-center;

    .my-card {
      @apply shrink-0 h-full m-7 shadow-sm shadow-gray-900;

      &__image {
        @apply object-cover object-top w-full h-80;
      }

      &__body {
        @apply bg-gray-100 p-4 h-60;
      }
    }
  }

  .my-article {
    @apply rounded;
    container-type: inline-size;

    &:hover {
      @apply shadow-md border-2 border-stone-300;
    }
  }

  @media (min-width: $tabletMinWidth) {
    .flex-container {
      @apply flex-row flex flex-wrap justify-center;

      .my-card {
        @apply w-2/5 m-5 h-full;
      }
    }

    h5 {
      @apply text-3xl;
    }
  }

  @media (min-width: $desktopMinWidth) {
    .flex-container {
      .my-card {
        @apply m-5 h-full;
        width: 30%; //Tailwind no perite obtener un ancho de 30% por lo que se define explicitamente
      }
    }
  }
}
