.footer {
  @apply flex flex-col gap-4 items-center justify-center border-t mx-auto pt-4 mb-4;

  &__right {
    .ulist {
      @apply flex-row;

      &__element {
        &:hover {
          @apply border-none;
        }
      }
    }
  }

  &__left {

    .logo {
      width: 30svw; //no se ha encontrado alternativa tailwindcss
      max-width: 30svw;
    }

    &--title {
      @apply hidden; //display: none;
    }
  }

  @media (min-width: $tabletMinWidth) {
    @apply grid gap-2.5 justify-center;
    grid-template-columns: 1fr 2fr 1fr;

    &__left {
      @apply flex flex-row justify-center items-center gap-4 text-center;

      .logo {
        @apply w-24 max-w-24; //96px, aprox 100px
      }

      &--title {
        display: initial;
      }
    }

    &__center {
      .ulist {
        @apply flex-row justify-center;
      }
    }

    &__right {
      .ulist {
        @apply flex-row justify-end;
      }
    }
  }
}
