body:has(a[href*="/"]):has(.home) {
  .ulist__element a[href="/"] {
    border-bottom: 1px solid rgba(var(--bs-link-color-rgb));
  }
}

.index {
  header {
    color: white;
    background-color: black;

    &.border-bottom {
      border-bottom: none !important;
    }
  }

  h1,
  h2,
  h3 {
    margin-top: 1rem;
    color: white;
  }

  li.title {
    container-type: inline-size;
  }

  @container (min-width: #{$container-width}) {
    li.title h2 {
      font-size: 2.8rem;
    }
  }

  main {
    background: no-repeat url("/src/assets/images/chef-cooking.png");
    background-color: black;
    background-position: center;
    background-size: cover;

    .home {
      color: white;

      li {
        float: left;
        min-width: 200px;
        list-style-type: none;

        &.title {
          background: none;
        }
      }

      .my-card {
        width: 300px;
        padding: 10px;
        margin: 10px;
        background: rgb(255 255 255 / 0.1);
        border-radius: 5px;
      }
    }
  }

  @supports not (display: grid) {
    @media (max-width: $tabletMinWidth) {
      .grid {
        display: flex;
        flex-direction: column;
      }
      .title {
        justify-content: center;
      }
    }

    @media (min-width: $tabletMinWidth) {
      .flex-container {
        display: flex;
        flex-direction: column;
        height: fit-content;
      }

      .flex-row {
        display: flex;
        flex: 1;

        align-items: center;
        &__center {
          display: flex;
          flex: 1;
          justify-content: center;
          text-align: center;
        }

        &__right {
          display: flex;
          flex: 1;
          justify-content: flex-end;
          margin-right: calc(10vw);
        }

        &__left {
          display: flex;
          flex: 1;
          justify-content: flex-start;
          margin-left: calc(10vw);
        }
      }

      .flex-center {
        justify-content: center;
        text-align: center;
      }

      .flex-left {
        justify-content: flex-start;
        width: 300px;
      }

      .flex-right {
        justify-content: flex-end;
        width: 300px;
      }
    }
  }

  @supports (display: grid) {
    @media (max-width: $tabletMinWidth) {
      .grid {
        display: grid;
        grid-auto-rows: auto;
      }
    }

    @media (min-width: $tabletMinWidth) {
      .grid {
        display: grid;
        grid-template-rows: 4rem 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(5, minmax(100px, 1fr));
      }

      .title {
        grid-row: 1 / 2;
        grid-column: 3 / 5;
      }

      .first-prize {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      .second-prize {
        grid-row: 4 / 5;
        grid-column: 1 / 2;
      }

      .third-prize {
        grid-row: 3 / 4;
        grid-column: 4 / 5;
      }
    }
  }
}
