body:has(a[href*="/"]):has(.home) {
  .ulist__element a[href="/"] {
    border-bottom: 1px solid rgba(var(--bs-link-color-rgb));
  }
}

.index {
  header {
    @apply text-white bg-black border-none;
  }

  h1,
  h2,
  h3 {
    @apply text-white mt-4;
  }

  h3 {
    @apply text-2xl font-medium;
  }

  h5 {
    @apply font-medium mt-1;
  }

  li.title {
    container-type: inline-size;
  }

  @container (min-width: #{$container-width}) {
    li.title h2 {
      @apply text-4xl; //font-size: 2.8rem;
    }
  }

  main {
    @apply bg-center bg-black bg-cover bg-no-repeat bg-[url("/src/assets/images/chef-cooking.png")];

    .home {
      @apply text-white;

      li {
        @apply float-left list-none min-w-48; //min-w-48 192px aprox 200px

        &.title {
          @apply bg-none;
        }
      }

      .my-card {
        @apply w-72 p-2.5 m-2.5 bg-gray-900/[0.5] rounded-md;//aprox w-72 288px ~300px
      }
    }
  }

  @media (max-width: $tabletMinWidth) {
    .my-grid {
      @apply grid auto-rows-auto;
    }
  }

  @media (min-width: $tabletMinWidth) {
    .my-grid {
      @apply grid grid-rows-5 grid-cols-5;
    }

    .title {
      @apply row-start-1 row-end-2 col-start-3 col-end-5;
    }

    .first-prize {
      @apply row-start-2 row-end-3 col-start-2 col-end-3;
    }

    .second-prize {
      @apply row-start-4 row-end-5 col-start-1 col-end-2;
    }

    .third-prize {
      @apply row-start-3 row-end-4 col-start-4 col-end-5;
    }
  }
}
