<footer>
    <div class="container border-top footer">
        <div class="footer__left">
            <div class="logo">
                <a href="#">
                    <img class="image--fluid" src="assets/images/logo.png" alt="Chef Content">
                </a>
            </div>
            <div class="footer__left--title fs-4">
                Top Chef
            </div>
        </div>
        <div class="footer__center">
            <nav class="link-list">
                <ul class="ulist">
                    <li class="ulist__element">
                        <a class="ulist__link" href="/">Home</a>
                    </li>
                    <li class="ulist__element">
                        <a class="ulist__link" href="chefs.html">Best Chefs</a>
                    </li>
                    <li class="ulist__element">
                        <a class="ulist__link" href="#">Contest</a>
                    </li>
                    <li class="ulist__element">
                        <a class="ulist__link" href="#">Awards</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__right">
            <ul class="ulist">
                <li class="ulist__element">
                    <a class="ulist__link" href="https://www.facebook.com/" target="_blank">
                        <i class="fa-solid fa-brands fa-facebook fa-2x white"></i>
                    </a>
                </li>
                <li class="ulist__element">
                    <a class="ulist__link" href="https://www.linkedin.com/" target="_blank">
                        <i class="fa-brands fa-linkedin fa-2x white"></i>
                    </a>
                </li>
                <li class="ulist__element">
                    <a class="ulist__link" href="https://twitter.com/" target="_blank">
                        <i class="fa-brands fa-x-twitter fa-2x white"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>