<header>
    <div class="container header">
        <div class="header__left">
            <div class="logo">
                <a href="/">
                    <img class="image image--fluid" src="assets/images/logo.png" alt="Chef Content" height="60">
                </a>
            </div>
            <div class="m-4">
                <h1>Top Chef</h1>
            </div>
        </div>
        <div class="header__right">
            <nav class="header__menu mt-md-4">
                <ul class="ulist">
                    <li class="ulist__element"><a class="ulist__link" href="chefs.html">Best Chefs</a></li>
                    <li class="ulist__element"><a class="ulist__link" href="ai-gen.html">AI Generated</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>