/* Right layer has more priority than left layer */
@use "mixins" as m;

@layer defaults, components, utilities;

@layer defaults {
  /* Reset */
  *,
  *:after,
  *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
}

@layer components {

  .btn-custom {
    padding: 5px;
    background-color: $button-bg;
    border: 0;
    border-radius: 5px !important;

    &:hover {
      color: rgb(255 255 255);
      background-color: $bg-accent-color;
    }

    --bs-btn-font-weight: 900;
    --bs-btn-color: rgb(255 255 255);
    --bs-btn-bg: $bg-accent-color;
    --bs-btn-border-color: $bg-accent-color;
    --bs-btn-hover-color: rgb(255 255 255);
    --bs-btn-hover-bg: $bg-accent-color;
    --bs-btn-hover-border-color: $bg-accent-color;
    --bs-btn-focus-shadow-rgb: $button-bg;
    --bs-btn-active-color: $bg-accent-color;
    --bs-btn-active-bg: $bg-accent-color;
    --bs-btn-active-border-color: $light-font-color;


  }
}

@layer utilities {
  #my-special-form {
    @include m.gradient-form
  }
}
