@use "mixins" as m;

body {
  @apply flex flex-col text-lg min-h-screen;
  font-family: $font-family-sans-serif;
}

h1,
h2,
h3 {
  font-family: $font-family-sans-serif;
}

h1 {
  @apply text-5xl font-medium mt-8 mb-8;
}

h2 {
  @apply mt-8 mb-8 font-bold;
}

h3 {
  @apply mt-7 mb-7;
}

main {
  @apply flex-1;
}

/* Conversión manual de la clase container de bootstrap */
.container {
  width: w-full;

  @media (min-width: 768px) {
    width: 720px;
  }
  @media (min-width: 992px) {
    width: 960px;
  }
  @media (min-width: 1200px) {
    width: 1140px;
  }
  @media (min-width: 1400px) {
    width: 1320px;
  }
}

.logo {
  @apply max-w-24; //aprox 100px
}

.image--fluid {
  @apply block w-full h-auto;
}

.ulist {
  @apply flex flex-col p-0;

  &__element {
    @apply shrink-0 list-none self-start;
    @include m.hover-style;
  }

  &__link {
    @apply block no-underline px-2 py-4 text-blue-600; //text-blue-600 rgb(13, 110, 253)
  }
}
